.page-header {
    background-color: #ABE697;
    margin-top: 0;
    padding: 10px 10px 10px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-family: 'Cabin Sketch', cursive;
    color: #ffffff;
    font-size: 60pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}


h2 {
    font-family: 'Cabin Sketch', cursive;
    color: #82C26D;
    font-size: 22pt;    
}

.date {
    color: #A1BA99;
    font-size: 10pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    font-family: 'Kalam', cursive;
    color: #ffffff;
    float: right;
    font-size: 18pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post a {
    color: #82C26D;
    font-size: 10pt;
}


.post h2, .post h2 a, .post h2 a:visited {
    color: #82C26D;
    font-size: 22pt;
}

.post p {
    text-align: justify;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.comment p {
    text-align: justify;
    font-size: 10pt;
}

