htlm, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.page-header {
    flex-shrink: 0;
    background-color: #ABE697;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 5px 0px 70px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-family: 'Cabin Sketch', cursive;
    color: #ffffff;
    font-size: 55pt;
    text-decoration: none;
}

.page-header img {
    margin-right: 3pt
}

.top-menu, .top-menu:hover, .top-menu:visited {
    font-family: 'Kalam', cursive;
    color: #ffffff;
    float: right;
    font-size: 14pt;
    margin-right: 30px;
    margin-top: 0px;
}

.content {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    margin-top: 0px;
}

h2 {
    font-family: 'Cabin Sketch', cursive;
    color: #82C26D;
    font-size: 22pt;    
}

h3 {
    color: #82C26D;
    font-size: 12pt;
}

.post h2, .post h2 a, .post h2 a:visited {
    color: #82C26D;
    font-size: 23pt;
}

.date {
    color: #A1BA99;
    font-size: 10pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 40px;
    width: 100%;
}

.post a {
    color: #82C26D;
    font-size: 10pt;
}

.post p {
    text-align: justify;
}

.comment {
    margin: 20px 0px 20px 40px;
}

.comment p {
    text-align: justify;
    font-size: 10pt;
}

.page-footer {
    flex-shrink: 0;
    background-color: #ABE697;
    margin-top: 0;
    padding: 5px 5px 5px 50px;
}

.page-footer a {
    color: #ffffff;
    float: right;
    margin-right: 30px;
}

.page-footer p {
    font-family: 'Kalam', cursive;
    color: #ffffff;
    font-size: 12pt;
    margin-bottom: 5px;
}

